{% extends "todo/base.html" %}
{% load static %}
{% block content %}
    <div class="page">

		<section class="section-intro">
			<h1 class="section-h1">A Little About The Synch...</h1><br>
			<div class="section-row">
				<span class="section-para width">The Synch is an app I created just out of pure interest of building something new. This is my first fully functioning application and well I though why not make it something most of us struggle with on an everyday basis; Tasks!! Daily Chores! Long term goals!!
                    Whatever we might call it the purpose is the same, keep a track of the things to do and well.. Get them done.
					Starting something new can be daunting. Keeping at it and completing can be even more of a struggle from time to time. This is an app designed with a simple, easy to use interface
					that can be used by anyone.
				</span>
			</div>


			<br>
			<div class="section-row">
				<span class="section-para width">
					It has been quite a journey in getting this project done and I am absolutely ecstatic that I was able to complete it. Learned a lot of things along the way and while this is just a small step towards the bigger things I wish to accomplish, it is an actual proof of what I set out to do and it just gives me so much joy!
					This app was created because I wanted to learn how to create a web application. I had no experience in creating web applications but I was very much interested in learning about it. And so I decided to start small but not to give up without giving it a shot.
					So I started working on this solely for the purpose of leaning something new and here it is having been completed atlast!
                </span>
			</div>
			<br>
			<div class="section-row">
				<span class="section-para width">
					Every piece of design and functionality is something I find useful and relevant for this application and everything has been made from scratch.
					While I completely understand that this might not be in line with "industry" standards, I designed it to color just a little outside the lines, an exploration into what I find intriguing and bring it to life.
					It stands to represent that we only need to try to make something happen. However, small it may seem it is worth it when you have passion towards it.
					Thank you for taking the time and effort to use this application and to read about why it was made.
                </span>
			</div>
		</section>

	</div>
{% endblock %}